<?php
/**
 * Local application configuration
 *
 * Insert your local database credentials here
 * and provide the email address the system should use.
 */

ini_set('date.timezone', 'America/New_York');

return array(
    'mail' => array(
        'type' => 'sendmail', // or 'smtp' or 'smtpoverssl'
        'address' => 'info@bookings.example.com',

        'host' => '?', // for 'smtp' or 'smtpoverssl' type only, otherwise remove or leave as is
        'user' => '?', // for 'smtp' or 'smtpoverssl' type only, otherwise remove or leave as is
        'pw' => '?', // for 'smtp' or 'smtpoverssl' type only, otherwise remove or leave as is
    ),
    'db' => array(
        'user' => '?',
        'pass' => '?',
        'dsn' => 'mysql:dbname=?;host=127.0.0.1', // usually, you only need to replace the ? with your database name
    ),
    'i18n' => array(
        'locale' => 'en-US',
        'currency' => 'USD',
    ),
);



case 'smtpoverssl':
                    $optionsArray = array(
                        'host' => $this->configManager->need('mail.host'),
                        'port' => 587,
                        'connection_class' => 'plain',
                        'connection_config' => array(
                            'username' => $this->configManager->need('mail.user'),
                            'password' => $this->configManager->need('mail.pw'),
                            'ssl' => $this->configManager->need('mail.ssl'),
                        ),
                    );
                    
                    $optionPort =  $this->configManager->get('mail.port');
                    if (is_numeric($optionPort)) {
                        $optionsArray['port'] = $optionPort;
                    }
                    
                    $options = new SmtpOptions($optionsArray);
                    $this->transport = new Smtp();
                    $this->transport->setOptions($options);
                    break;