<?php
/**
 * Local application configuration
 *
 * Insert your local database credentials here
 * and provide the email address the system should use.
 */

ini_set('date.timezone', 'America/New_York');

return array(
    'mail' => array(
        'type' => 'sendmail', // or 'smtp' or 'smtpoverssl'
        'address' => 'info@bookings.example.com',

        'host' => '?', // for 'smtp' or 'smtpoverssl' type only, otherwise remove or leave as is
        'user' => '?', // for 'smtp' or 'smtpoverssl' type only, otherwise remove or leave as is
        'pw' => '?', // for 'smtp' or 'smtpoverssl' type only, otherwise remove or leave as is
        'port' => 587, //for 'smtpoverssl' type only, otherwise remove or leave as is
        'ssl' => 'tls', //for 'smtpoverssl' type only, otherwise remove or leave as is
    ),
    'db' => array(
        'user' => '?',
        'pass' => '?',
        'dsn' => 'mysql:dbname=?;host=127.0.0.1', // usually, you only need to replace the ? with your database name
    ),
    'i18n' => array(
        'locale' => 'en-US',
        'currency' => 'USD',
    ),
);
